/*! default.css v0.1.0 |  */

* {
	box-sizing:				border-box;
}

::root {
	
}

html {
	background-color:		$bgcol;
	color:					$col;
	font-family:			'Roboto', sans-serif;
	font-size:				calc(1vw + 1vh);
}

body {
	display:				flex;
	flex-direction:			column;
	min-height:				100vh;
}

h1,h2,h3,h4,h5,h6 {
	font-family:			'Jura', sans-serif;
	color:					$highlight;
}

nav {
	font-family:			'Jura', sans-serif;
	font-weight:			bold;
	text-transform:			uppercase;
	border-radius:			2rem;
	margin:					1rem auto;
	padding:				.5rem;
}

nav ul {
	display:				flex;
	flex-direction:			row;
	justify-content:		center;
	margin:					0;
	padding:				0;
	list-style-type:		none;
}

nav a {
	display:				flex;
	flex-direction:			row;
	justify-content:		space-between;
	width:					8rem;
	border-radius:			1rem;
	margin:					.5rem;
	padding:				.5rem;
	text-align:				center;
	color:					$link_text;
	text-decoration:		none;
	transition:				all .25s;
}
nav a:link, nav a:visited {
	background-color:		$link;
}
nav a:hover, nav a.current:hover {
	background-color:		$link_active;
	opacity:				1;
}
nav a.current, nav a:active {
	background-color:		$link_current;
}

main {
	width:					90%;
	max-width:				60ch;
	margin:					0 auto;
	flex:					1;
}

main::before,
main::after {
	content:				'';
    height:					2em;
    background-color:		$detail1;
    border-inline:			2em solid;
    border-block:			0;
    border-radius:			2em;
    box-shadow:				inset 1em 0 $bgcol, inset -1em 0 $bgcol;
    margin-inline:			-3em;
    display:				block;
    border-left-color:		$detail2;
    border-right-color:		$detail2;
}
main::before {
	margin-block-end:		2em;
}
main::after {
	margin-block-start:		2em;
}

main a {
	background-color:		transparent;
}
main a:link, main a:visited {
	color:					$link;
}
main a:active {
	color:					$link_active;
}
main a:hover {
	color:					$link_active;
}

main ul {
	padding-left:			2em;
}

dl.card {
	display:				inline-block;
	padding:				1em;
	border-radius:			1em;
	border-width:			0.25em;
	border-style:			solid;
	border-color:			transparent;
	transition:				all .25s;
}
dl.card:hover {
	border-color:			$col;
}

dl.elem {
	float:					left;
	margin:					0 2em 2em 0;
	padding:				.5em;
	width:					22ch;
	font-size:				.75em;
	background-color:		$elem_dl;
}
dl.elem:hover {
	transform:				scale(1.05);
}
dl.elem dt {
	float:					left;
	color:					$bgcol;
}
dl.elem dd {
	margin:					0;
	text-align:				right;
}
dl.elem dd.symbol {
	font-size:				7em;
}
dl.elem span {
	white-space:			nowrap;
}
.hide {
	display:				none;
}

sup.at-weight {
	opacity:				0.8;
	font-style:				italic;
}

table.phonology td {
	text-align:				center;
}
table.phonology td:first-child {
	font-weight:			bold;
	text-align:				right;
}

th.sorted.ascending:after {
	content:				" \25BC";
}

th.sorted.descending:after {
	content:				"  \25B2";
}

figure {
	float:					right;
	background-color:		white;
	width:					10rem;
	padding:				1rem;
	border:					2px solid $link;
	border-radius:			1rem;
	margin:					0 0 1rem 1rem;
}
figure.left {
	float:					left;
	margin:					0 1rem 1rem 0;
}
figure img {
	width:					100%;
}
figcaption {
	font-size:				x-small;
	font-style:				italic;
}
