/*! default.css v0.1.0 |  */

$bgcol:						#000000;
$col:						#FFFFFF;
$high:						#87C1FC;
$warn:						#FFAA00;
$err:						#DA691F;
$good:						#91E964;


* {
	box-sizing:				border-box;
}

html {
	background-color:		$bgcol;
	color:					$col;
	font-family:			'Roboto', sans-serif;
}

body {
	display:				flex;
	flex-direction:			column;
}

main {
	width:					800px;
	margin:					0 auto;
}

h1,h2,h3,h4,h5,h6 {
	font-family:			'Michroma', sans-serif;
	text-transform:			uppercase;
	color:					$high;
}

nav {
	font-family:			'Michroma', sans-serif;
	font-size:				small;
	font-weight:			bold;
	text-transform:			uppercase;
	border-radius:			2rem;
	margin:					1rem auto;
	padding:				.5rem;
}

nav ul {
	display:				flex;
	flex-direction:			row;
	justify-content:		center;
	margin:					0;
	padding:				0;
	list-style-type:		none;
}

nav a {
	display:				flex;
	flex-direction:			column;
	justify-content:		center;
	width:					100px;
	height:					50px;
	border-radius:			1rem;
	margin:					.5rem;
	text-align:				center;
	color:					$bgcol;
	opacity:				0.75;
	text-decoration:		none;
	transition:				all .25s;
}
nav a:link, nav a:visited {
	background-color:		$high;
}
nav a:hover, nav a.current:hover {
	background-color:		$warn;
	opacity:				1;
}
nav a.current, nav a:active {
	background-color:		$good;
}

main a {
	background-color:		transparent;
}
main a:link, main a:visited {
	color:					$high;
}
main a:active {
	color:					$good;
}
main a:hover {
	color:					$warn;
}

dl.card {
	display:				inline-block;
	background-color:		royalblue;
	padding:				1rem;
	border-radius:			1rem;
	border-width:			2px;
	border-style:			solid;
	border-color:			transparent;
	transition:				border-color .25s;
}
dl.card:hover {
	border-color:			white;
}

dl.elem {
	float:					left;
	margin:					0;
	padding:				.5rem;
	width:					10rem;
	font-size:				.75rem;
}
dl.elem dt {
	float:					left;
	color:					black;
}
dl.elem dd {
	margin:					0;
	text-align:				right;
}
dl.elem dd.symbol {
	font-size:				7rem;
}
dl.elem span {
	white-space:			nowrap;
}
.hide {
	display:				none;
}