/*! default.css v0.1.0 |  */

$bgcol:						#17182B;
$col:						#DCEDFF;

$highlight:					#E30022;

$elem_dt:					#0A1195;
$elem_dd:					#FFF600;

$link:						#DCEDFF;
$link_current:				#ADF7B6;
$link_active:				#F4D35E;


* {
	box-sizing:				border-box;
}

html {
	background-color:		$bgcol;
	color:					$col;
	font-family:			'Roboto', sans-serif;
}

body {
	display:				flex;
	flex-direction:			column;
	min-height:				100vh;
}

main {
	width:					90%;
	max-width:				50rem;
	margin:					0 auto;
	flex:					1;
}

h1,h2,h3,h4,h5,h6 {
	font-family:			'Jura', sans-serif;
	color:					$highlight;
}

nav {
	font-family:			'Jura', sans-serif;
	font-weight:			bold;
	text-transform:			uppercase;
	border-radius:			2rem;
	margin:					1rem auto;
	padding:				.5rem;
}

nav ul {
	display:				flex;
	flex-direction:			row;
	justify-content:		center;
	margin:					0;
	padding:				0;
	list-style-type:		none;
}

nav a {
	display:				flex;
	flex-direction:			row;
	justify-content:		space-between;
	width:					8rem;
	border-radius:			1rem;
	margin:					.5rem;
	padding:				.5rem;
	text-align:				center;
	color:					$bgcol;
	text-decoration:		none;
	transition:				all .25s;
}
nav a:link, nav a:visited {
	background-color:		$link;
}
nav a:hover, nav a.current:hover {
	background-color:		$link_active;
	opacity:				1;
}
nav a.current, nav a:active {
	background-color:		$link_current;
}

main a {
	background-color:		transparent;
}
main a:link, main a:visited {
	color:					$link;
}
main a:active {
	color:					$link_active;
}
main a:hover {
	color:					$link_active;
}

dl.card {
	display:				inline-block;
	padding:				1rem;
	border-radius:			1rem;
	border-width:			2px;
	border-style:			solid;
	border-color:			transparent;
	transition:				border-color .25s;
}
dl.card:hover {
	border-color:			white;
}

dl.elem {
	float:					left;
	margin:					0 2rem 0 0;
	padding:				.5rem;
	width:					10rem;
	font-size:				.75rem;
	background-color:		$highlight;
}
dl.elem:hover {
	border-color:			$elem_dd;
}
dl.elem dt {
	float:					left;
	color:					$elem_dt;
}
dl.elem dd {
	margin:					0;
	text-align:				right;
	color:					$elem_dd;
}
dl.elem dd.symbol {
	font-size:				7rem;
}
dl.elem span {
	white-space:			nowrap;
}
.hide {
	display:				none;
}

sup.at-weight {
	opacity:				0.8;
	font-style:				italic;
}