---
---

$background:			#fff;
$text:				#3b3b3c;
$accent:			#e7e6d6;
$highlighta:			#ff5f41;
$highlightb:			#486b6c;

@import "normalize";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Oswald:wght@600&display=swap');

:root {
	font-size:		2vw;
	line-height:		1.5;
}

body {
	background-color:	$background;
	color:			$text;
	font-family:		"Noto Sans";
}

body > * {
	max-width:		80ch;
	margin-inline:		auto;
}

h1, h2, h3, h4 {
	font-family:		"Oswald";
}

h1,h2 {
	color:			$highlighta;
}
h3, h4 {
	color:			$highlightb;
}

a {
	color:			$highlighta;
	text-decoration-color:	$highlightb;
	text-underline-offset:	1px;
	transition:		all 0.25s;
}
a:hover {
	color:			$highlightb;
	text-decoration-color:	$highlighta;
	text-underline-offset:	2px;
}
