---
---

$bgcol:						#000;
$col:						#fff;
$highlight:					#c00;

$detail1:					#036;
$detail2:					#069;

$elem_dt:					$bgcol;
$elem_dl:					#099;

$link:						$col;
$link_current:				#cdb;
$link_active:				#0c9;
$link_text:					$bgcol;

@import "normalize";
@import "default";
