---
---
												
$white:							#fff;			//	https://w.wiki/_7gc
$black:							#2E211B;		//	憲法染	Kenpōzome	Legal dye
$grey:							#2E211B1A;		//	same as above at 0.1 opacity
$red:							#CF3A24;		//	緋		Ake			Scarlet (blood)

@import "normalize";

/*
 *	FONTS
 */
@font-face {
	font-family:				'Golden Type';
	src:						url(../fonts/Golden_Type_ITC_Std_Regular.otf);
}
@font-face {
	font-family:				'Offenbacher Schwabacher CAT';
	src:						url(../fonts/offenbacherschwabachercat.regular.ttf);
}

/*
 *	GLOBAL
 */

:root {
	--red:						#CF3A24;
	--black:					#2E211B;
	--grey:						#2E211B1A;
	--white:					#FFF;
	
	font-family:				'Golden Type';
	font-size:					16px;
	font-size:					2vw;
	line-height:				1.5;
}

h1, h2, h3, h4 {
	color:						var(--red);
}
h1 {	font-size:				2.25em;	}
h2 {	font-size:				2em;	}
h3 {	font-size:				1.5em;	}
h4 {	font-size:				1.25em;	}
h5 {	font-size:				1em;	}

body {
	background-color:			var(--white);
	color:						var(--black);
}

body > * {
	max-width:					40rem;
	margin-inline:				auto;
}

a {
	color:						var(--red);
	text-decoration-color:		var(--black);
	text-underline-offset:		.05em;
	transition:					all 0.25s;
}
a:hover {
	color:						var(--black);
	text-decoration-color:		var(--red);
	text-underline-offset:		.125em;
}

a.to-top {
	padding-left:				1rem;
	text-decoration:			none;
}

em.ae {
	font-variant:				small-caps;
}

/*
 *	HEADER
 */

header {
	border-bottom:				1px solid var(--red);
}

header title-block {
	display:					block;
	font-family:				'Offenbacher Schwabacher CAT';
	font-size:					7rem;
	color:						var(--red);
	text-align:					center;
}

header subtitle-block {
	display:					block;
	width:						80%;
	margin:						auto;
	width:						80%;
	text-align-last:			justify;
}

/*
 *	TABLE OF CONTENTS
 */

#toc {
	//margin-inline-start:		2em;
}
#toc ul {
	padding-left:				unset;
	grid-column:				1 / 3;
}
#toc li {
	display:					grid;
	grid-template-columns:		2rem auto;
	grid-template-areas:		"counter link";
}
#toc li:before {
	display:					block;
	grid-area:					counter;
}
#toc a {
	grid-area:					link;
}
#toc ul ul a {
	padding-left:				1em;
	font-style:					italic;
}

#toc > ul {
	counter-reset:				toc-headers;
}
#toc > ul > li {
	counter-increment:			toc-headers;	
}
#toc > ul > li:before {
	content:					counter(toc-headers) ".\00a0";
}

/*
 *	MAIN BODY
 */

main {
	counter-reset: 				headers;
}
main h2 {
	counter-increment:			headers;
	display:					grid;
	grid-gap:					2rem;
	grid-template-columns:		2rem 25rem 2rem;
	margin-inline-start:		-4rem;
}
main h2:before {
	display:					block;
	content:					counter(headers) ".\00a0";
}

main h3 {
	display:					grid;
	grid-gap:					2rem;
	grid-template-columns:		25rem 2rem;
}

main p,main ul {
	max-width:					25rem;
	text-align:					justify;
	list-style:					none;
	padding-left:				0;
}

main ul li::before {
	content:					"\25C6";
	color:						var(--red);
	display:					inline-block;
	width:						2em;
	margin-left:				-2em;
	font-size:					0.75em;
}

/*
 *	SIDEBOX
 */

aside.sidebox {
	display:					block;
	float:						right;
	min-width:					10rem;
	clear:						both;
	margin-block-end:			2rem;
	margin-inline-start:		2rem;
	font-size:					0.8rem;
}

aside.sidebox.table {
	border:						1px dotted var(--black);
	padding:					1rem;
	background-color:			var(--grey);
}

aside.sidebox h5 {
	margin:						0;
}

aside.sidebox p {
	color:						var(--red);
}

aside.sidebox dl {
	display:					grid;
	grid-template-columns:		1fr auto;
}
aside.sidebox dt {
	grid-column:				1/2;
}
aside.sidebox dd {
	grid-column:				2/3;
	margin:						0;
	color:						var(--red);
}

aside.sidebox caption {
	font-weight:				bold;
	padding-block-end:			1rem;
}
aside.sidebox th {
	text-align:					left;
}
aside.sidebox td {
	color:						var(--red);
}
aside.sidebox td:first-of-type {
	white-space:				nowrap;
	color:						unset;
}

/*
 *	CALENDAR
 */

fieldset {
	display:					grid;
	grid-template-columns:		1fr 1fr 1fr 1fr 1fr;
	padding:					0;
	border-style:				none;
	grid-gap:					1em;
	font-size:					smaller;
}
fieldset th, fieldset td {
	text-align:					right;
}
