---
---
												
$white:							#fff;			//	https://w.wiki/_7gc
$black:							#2E211B;		//	憲法染	Kenpōzome	Legal dye
$grey:							#2E211B1A;		//	same as above at 0.1 opacity
$red:							#CF3A24;		//	緋		Ake			Scarlet (blood)

@import "normalize";

/*
 *	FONTS
 */
@font-face {
	font-family:				'Golden Type';
	src:						url(../fonts/Golden_Type_ITC_Std_Regular.otf);
}
@font-face {
	font-family:				'Offenbacher Schwabacher CAT';
	src:						url(../fonts/offenbacherschwabachercat.regular.ttf);
}

/*
 *	GLOBAL
 */

:root {
	--red:						#CF3A24;
	--black:					#2E211B;
	--grey:						#2E211B1A;
	--dark-grey:				#2E211BBF;
	--white:					#FFF;
	
	font-family:				'Golden Type';
	font-size:					16px;
	font-size:					clamp(1rem,2vw,1.5rem);
	line-height:				1.5;
	
	scroll-behavior:			smooth;
}

h1, h2, h3 {
	color:						var(--red);
}
h1 {
	font-size:					2.5rem;
}
h2 {	font-size:				1.5rem;	}
h3 {	font-size:				1rem;	}
h4 {	font-size:				1rem;	}
h5 {	font-size:				1rem;	}

body {
	background-color:			var(--white);
	color:						var(--black);
}

body > * {
	max-width:					35rem;
	margin-inline:				auto;
}

a {
	color:						var(--red);
	text-decoration-color:		var(--black);
	text-underline-offset:		.05em;
	transition:					all 0.25s;
}
a:hover {
	color:						var(--black);
	text-decoration-color:		var(--red);
	text-underline-offset:		.125em;
}

a.to-top {
	text-decoration:			none;
}

em.ae {
	font-variant:				small-caps;
}

/*
 *	HEADER
 */

header {
	border-block-end:			0.125rem solid var(--red);
	margin-block-end:			2rem;
	padding-block-end:			2rem;
}

header title-block {
	display:					block;
	font-family:				'Offenbacher Schwabacher CAT';
	font-size:					min(15vw,7rem);
	color:						var(--red);
	text-align:					center;
	margin-inline:				-2rem;
}

header subtitle-block {
	display:					block;
	text-align:					center;
}

/*
 *	NAV
 */

nav {
	display:					flex;
	flex-direction:				row;
	flex-wrap:					wrap;
	column-gap:					1rem;
}

nav section {
	flex:						2;
	flex-basis:					100%;
	text-align:					center;
	margin-block:				1rem;
}
nav section.left-column {
	flex:						1;
	text-align:					right;
}
nav section.right-column {
	flex:						1;
	text-align:					left;
}

nav h3 {
	margin:						0;
	color:						var(--black);
}

nav hr {
	height:						unset;
	color:						var(--red);
	border-width:				0 0.125rem 0 0;
	border-style:				solid;
	margin:						1rem 0 0;
}

nav hr.double-column {
	flex:						2;
	flex-basis:					100%;
	border-width:				0.125rem 0 0 0;
	margin:						0;
}

nav ul {
	margin:						unset;
	padding:					unset;
	list-style:					none;
}

nav li {
	font-style:					italic;
	font-size:					1rem;
}
nav li.active > a {
	color:						var(--black);
}

nav ul ul {
	margin:						0;
}

nav ul ul li {
	font-style:					normal;
	font-size:					0.8rem;
}

nav section.double-column ul {
	display:					flex;
	flex-direction:				row;
	flex-wrap:					wrap;
	gap:						1rem;
	justify-content:			center;
}

nav section.introduction li {
	font-size:					1.25rem;
	font-weight:				bold;
	font-style:					normal;
}

nav section.reference li {
	font-style:					normal;
}

/*
 *	TABLE OF CONTENTS
 */

#toc {

}
#toc ul {
	padding-left:				unset;
	grid-column:				sub-ul;
	margin:						0;
	list-style:					none;
}

#toc ul ul {
	counter-reset:				toc-subheaders;
}

#toc li {
	grid-template-columns:		2rem auto;
	grid-template-areas:		"counter link" "counter sub-ul";
	page-break-inside:			avoid;
	break-inside:				avoid-column;
}
#toc li:before {
	display:					block;
	grid-area:					counter;
}

#toc li li {
	display:					grid;
	counter-increment:			toc-subheaders;
}
#toc li li::before {
	content:					counter(toc-headers) "." counter(toc-subheaders);
}

#toc a {
	grid-area:					link;
}
#toc ul ul a {
	padding-left:				1em;
	font-style:					italic;
}

#toc > ul {
	counter-reset:				toc-headers;
}
#toc > ul > li {
	counter-increment:			toc-headers;
	display:					grid;
}
#toc > ul > li:before {
	content:					counter(toc-headers) ".\00a0";
}

/*
 *	MAIN BODY
 */

main {
	counter-reset: 				main-headers;
}

main > * {
	width:						22rem;
}

main h2 {
	counter-increment:			main-headers;
	counter-reset:				main-subheaders;
	display:					grid;
	grid-template-columns:		2rem auto;
	margin-inline-start:		-2rem;
	position:					sticky;
	top:						0;
	width:						calc(100% + 4rem);
	border-block-start:			0.125rem solid var(--red);
	background-color:			var(--white);
}
main h2::before {
	display:					block;
	content:					counter(main-headers) ".\00a0";
}

main h3 {
	counter-increment:			main-subheaders;
	display:					grid;
	grid-template-columns:		2rem auto;
	margin-inline-start:		-2rem;
}

main h3::before {
	display:					block;
	content:					counter(main-headers) "." counter(main-subheaders);
}

main p, main ul {
	text-align:					justify;
	margin:						0;
}

main p + p::before {
	content:					"¶  ";
	color:						var(--red);
	opacity:					0;
}

main ul {
	list-style:					none;
	padding-left:				0;
}

main li::before {
	content:					"\25C6";
	color:						var(--red);
	display:					inline-block;
	width:						2em;
	margin-left:				-2em;
	font-size:					0.75em;
}

main hr {
	color:						var(--red);
	border-width:				0 0 0.125rem;
	margin:						2rem 0;
}

main .wide {
	width:						100%;
}

/*
 *	FIGURE
 */

main > figure {
	margin:						2rem 0;
	text-align:					center;
}

figure img {
	max-width:					100%;
}

figure img.hemisphere {
	width:						12rem;
}

figure.paired-figures {
	width:						12rem;
	display:					inline-block;
	font-size:					smaller;
	vertical-align:				top;
}

/*
 *	SIDEBOX
 */

aside.sidebox {
	display:					block;
	float:						right;
	width:						10rem;
	clear:						both;
	margin-inline:				0;
	font-size:					0.8rem;
	white-space:				nowrap;
}

aside.sidebox.table {
	border:						1px dotted var(--black);
	padding:					1rem;
	background-color:			var(--grey);
}

aside.sidebox h5 {
	margin:						0;
}

aside.sidebox p {
	color:						var(--red);
	line-height:				1.3;
}
aside.sidebox p::before {
	display:					none;
}

aside.sidebox dl {
	display:					grid;
	grid-template-columns:		auto auto;
	grid-column-gap:			1rem;
}
aside.sidebox dt {
	grid-column:				1/2;
	text-align:					right;
}
aside.sidebox dd {
	grid-column:				2/3;
	margin:						0;
	color:						var(--red);
}

aside.sidebox caption {
	font-weight:				bold;
	padding-block-end:			1rem;
}
aside.sidebox th {
	text-align:					left;
}
aside.sidebox td {
	color:						var(--red);
}
aside.sidebox td:first-of-type {
	white-space:				nowrap;
	color:						unset;
}

aside.round {
	width:						24rem;
	height:						24rem;
	shape-outside:				circle();
}
aside.round figure {
	margin:						0;
}

/*
 *	TABLES
 */

table {
	background-color:			var(--grey);
	border:						2px solid var(--red);
	border-block-end-width:		1rem;
	border-collapse:			separate;
	border-spacing:				0;
	border-radius:				0.5rem;
	margin-block:				2rem;
}

th,td {
	padding:					.125em;
	text-align:					left;
}

thead th {
	background-color:			var(--red);
	color:						var(--white);
}

thead th:first-child {
	border-start-start-radius:	0.25rem;
}

thead th:last-child {
	border-start-end-radius:	0.25rem;
}

tbody th {
	background-color:			var(--red);
	color:						var(--white);
	text-align:					right;
	padding-inline-end:			0.5ch;
}

tbody tr:nth-child(2n+1) td {
	background-color:			var(--white);
}

table.list td:first-child {
	text-align:					right;
	padding-right:				1rem;
}

/*
 *	CLASS AVAILABILITY TABLE
 */

table#class-availability {
	table-layout:				fixed;
}

#class-availability th,
#class-availability td {
	text-align:					center;
	border-inline:				.1rem solid var(--red);
}
#class-availability td::after {
	display:					block;
	font-weight:				bold;
}

#class-availability .common {
	background:					var(--white);
	color:						var(--black);
}
#class-availability .common::after {
	content:					"Common"
}

#class-availability .uncommon {
	background:					var(--grey);
	color:						var(--red);
}
#class-availability .uncommon::after {
	content:					"Uncommon"
}

#class-availability .rare {
	background:					var(--dark-grey);
	color:						var(--white);
}
#class-availability .rare::after {
	content:					"Rare";
}

#class-availability .unavailable {
	background:					var(--black);
	color:						var(--white);
}
#class-availability .unavailable::after {
	content:					"Unavailable"
}

/*
 *	CALENDAR GRID
 */
.calendar-grid {
	border-block-end-width:		unset;
	border-collapse:			collapse;
	font-size:					0.8rem;
	background-color:			unset;
}
.calendar-grid th {
	background-color:			unset;
	color:						var(--red);
	text-align:					center;
	border:						0.125rem solid var(--red);
	vertical-align:				bottom;
}
.calendar-grid td {
	border-inline:				0.125rem solid var(--red);
	vertical-align:				top;
	padding:					0;
	text-align:					right;
}
.calendar-grid tr:nth-child(2n+1) td {
	background-color:			unset;
}
.calendar-grid dl {
	margin:						0;
}
.calendar-grid dt {
	font-weight:				bold;
	padding:					0.125rem;
}
.calendar-grid dt:nth-child(2n) {
	background-color:			var(--grey);
}

/*
 *	FOOTER
 */

#link-to-top {
	display:					none;
	position:					fixed;
	bottom:						2rem;
	right:						4rem;
	z-index:					99;
	border:						none;
	outline:					none;
	background-color:			var(--white);
	color:						var(--red);
	border:						2px solid var(--red);
	cursor:						pointer;
	padding:					.5rem;
	border-radius:				.25rem;
	
	transition:					all 0.25s;
}

#link-to-top.visible {
	display:					block;
}

#link-to-top:hover {
	background-color:			var(--red);
	color:						var(--white);
	border-color:				var(--white);
}
#link-to-top:active {
	background-color:			var(--black);
	border-color:				var(--black);
}