---
---

$bgcol:						#D9CEAE;
$col:						#000000;
$highlight:					#E94F37;

$elem_dt:					#000000;
$elem_dd:					#FFFFFF;

$link:						#55667A;
$link_current:				#297A7A;
$link_active:				$highlight;
$link_text:					#FFFFFF;

@import "normalize";
@import "default";