.content {
    width:500px;
    margin:150px auto;
}
.tree ul {
    margin-left: 0;
	padding-inline-start: 2em;
}

.tree li {
    list-style-type: none;
    margin:10px;
    position: relative;
}

.tree li::before {
    content: "";
    position: absolute;
    top:-.2em;
    left:-1em;
    border-left: 1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-radius:0 0 0 0px;
    width:1em;
    height:1em;
	margin-left: 0;
	font-size: 1em;
}

.tree li::after {
    position:absolute;
    content:"";
    top:.8em;
    left:-1em;
    border-left: 1px solid #ccc;
    border-top:1px solid #ccc;
    border-radius:0px 0 0 0;
    width:1em;
    height:100%;
}

.tree li:last-child::after  {
    display:none;
}

.tree li:last-child:before{
    border-radius: 0 0 0 5px;
}

ul.tree>li:first-child::before {
    display:none;
}

ul.tree>li:first-child::after {
    border-radius:5px 0 0 0;
}

.tree li a {
    border: 1px #ccc solid;
    border-radius: 5px;
    padding:2px 5px;
	text-decoration: none;
	color: var(--black);
}

.tree li a:hover, .tree li a:focus {
    background: #ccc; color: #000; border: 1px solid #000;
}

.tree aside {
	display: none;
	position: absolute;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 0 1em;
	padding: 1rem;
	width: 20rem;
	z-index: 1;
}
.tree a:hover+aside, .tree a:focus+aside,
.tree aside:hover, .tree aside:focus {
	display:				block;
}
.tree aside h4 {
	margin:					0;
	font-size:				2rem;
	display:				inline-block;
}
.tree h4 span {
	font-style:				italic;
	font-size:				smaller;
}
.tree div.doodle {
	background-color:		black;
	font-size:				1em;
	width:					4em;
	aspect-ratio:			1 / 1;
	border-radius:			1em;
	float:					right;
}
.tree dl, .tree dd {
	margin:			0;
}
