<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> | {{page.title}}</title>
		<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/assets/css/dark2.css">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jura&family=Roboto&display=swap">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="/assets/js/toc.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#toc').toc();
			});
		</script>
	</head>
	<body>
		<header>
			{% include navigation.html %}
			<h1>{{page.title}}</h1>
			<p class="tagline">{{page.subtitle}}</p>
			<div id="toc"></div>
		</header>
		<main>
			{{ content }}
		</main>
	</body>
</html>
