<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>The Ecumene | {{page.title}}</title>
		<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/assets/css/ecumene2.css">
		<link rel="stylesheet" href="/assets/css/tree.css">
		<link rel="stylesheet" href="/assets/css/world-doodles.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="/assets/js/toc.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#toc').toc();
				
				$.each($('em.ae'),function(k,v) {
					let em = $(v);
					let date = em.html().split(' ');
					date = date[date.length-1];
					
					em.attr('title', 'annó ' + date + ' ab egressú ; ' + (7130 - date) + ' years before present');
					em.html(date + 'ae');
				});
			});
			
			window.onscroll = function() {
				$('#link-to-top').toggleClass('visible',
					(document.body.scrollTop > 20 || document.documentElement.scrollTop > 20)
				);
			};
			
			function returnToTop() {
				document.body.scrollTop = 0;
				document.documentElement.scrollTop = 0;
			};
		</script>
	</head>
	<body>
		<header>
			<title-block>The Ecumene</title-block>
			<subtitle-block>A worldbuilding exercise for a low-magic TTRPG setting.</subtitle-block>
			
			<nav>
				<section class="introduction">
					<ul>
						<li class="{% if "/ecumene/" == page.url %}active{% endif %}">
							<a href="/ecumene/" alt="Introduction">Introduction</a>
						</li>
					</ul>
				</section>
				<section class="left-column">
					<h3>On the World</h3>
					
					<ul>
						{% for item in site.data.navigation.world %}
						<li class="{% if item.url == page.url %}active{% endif %}">
							<a href="{{item.url}}" alt="{{item.title}}">{{item.title}}</a>
							{% if item.subitems[0] %}
								<ul>
									{% for subitem in item.subitems %}
									<li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</section>
				<hr />
				<section class="right-column">
					<h3>On the Peoples</h3>
					
					<ul>
						{% for item in site.data.navigation.people %}
						<li class="{% if item.url == page.url %}active{% endif %}">
							<a href="{{item.url}}" alt="{{item.title}}">{{item.title}}</a>
							{% if item.subitems[0] %}
								<ul>
									{% for subitem in entry.subitems %}
									<li><a href="{{ subitem.url }}">{{ subitem.title }}</a></li>
									{% endfor %}
								</ul>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</section>
				<hr class="double-column" />
				<section class="double-column">
					<ul>
						{% for item in site.data.navigation.reference %}
						<li class="{% if item.url == page.url %}active{% endif %}">
							<a href="{{item.url}}" alt="{{item.title}}">{{item.title}}</a>
						</li>
						{% endfor %}
					</ul>
				</section>
			</nav>
			
			<h1>{{page.title}}</h1>
			<div id="toc"></div>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			 <button onclick="returnToTop()" id="link-to-top" title="Go to top">Top</button> 
		</footer>
	</body>
</html>
